
@import "../base/_variables";



header{
    background-color: $bg-color-general;
}
.background-nav{
    background-color: salmon;
}
.img{
    width: 1400px;
    height: 600px;
    border: 2px;
    margin: 8px;
    position: relative;
}
.footer{
    width: auto;
    height: 100px;
    margin: 8px;
    border: 2px;
    background-color: salmon;
    color: black;
}
 